<style>
  html{
    background-color: {{color}}
  }
</style>

<h1>Yo, {{name}}! Wuddup!</h1>
<h2 style="margin-top:auto;margin-bottom:auto;text-align:center">{{ compliment }}</h2>
<br>

<form action="/" method="post">
  <input type="text" name="newCompliment" placeholder="*blushes*">
  <button type="submit">Compliment Me</button>
</form>
